@page "/power"
@rendermode InteractiveServer

<PageTitle>Power</PageTitle>

<h3>Power</h3>

<input type="number" name="basis" placeholder="Основание степени" @bind="basis" /> <input type="number" name="indicator" placeholder="Показатель степени" @bind="indicator" @onclick="GetPower"/>
<label>@basis ^ @indicator = @power</label>

@code {
	int basis;
	int indicator;
	double power = 1;

	void GetPower()
	{
		power = basis;
		if (indicator == 0) power = 1;
		else
		{
			for (int i = 1; i < Math.Abs(indicator); i++)
			{
				power *= basis;
			}
			if (indicator < 0) power = 1 / power;
		}
	}
}
